priority -50

extends javascript

snippet inf "interface .." b 
interface ${1:InterfaceName}${2: extends ${3: ParentClass}} {
	${4:prop}: ${5:type};$0
}
endsnippet

snippet dcm "declare module" b
declare module ${1:name} {
	${VISUAL}$0
}
endsnippet
